--- 
layout: default-night 
title: studio 
--- 

{% include navigation-night.html %}

<div class="row top-xs padded-row">
    <div class="col-sm-8 col-xs-12">
        <div class="headline-night">A multi-disciplinary graphic design studio connecting art, enviroment, culutre and technology.</div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 col-xs-12">
        <p class="meta">We generalise in identity, strategy, print and digital production, copywriting, media, research, curation, creative direction and illustration.</p>
    </div>
</div>

<div class="row padded-row top-xs between-xs">

    <div class="col-sm-4 col-xs-12">
        <p>Alder is the studio of <a href="http://jasmineparsia.com" target="_blank">Jasmine Parsia</a> & <a href="http://cr-norris.com" target="_blank">Chris Norris</a>. Often joined by other makers and thinkers, we generalize in graphic design, creative direction, production, and digital design.</p>

        <p>Our ability to make things is as important as our ability to make things happen. What we do takes many forms but every project is based on our desire to help shape the ideas that are bettering the world, because we exist for a simple reason: to work toward a future that is healthier and more vibrant than the one we live in now.</p>
    </div>

    <div class="image col-xs-12 col-sm-7">
        <img src="/assets/images/Rectangle.png">
    </div>

</div>

<div class="row padded-row top-xs start-xs between-xs">

    <div class="col-sm-8 col-xs-12">
        {% include form-contact-night.html %}
    </div>
    
    <div class="col-sm-3 col-xs-12">
        <p class="meta">Our studio is located at the Karma Bird House, a creative compound we run with our friends at <a href="google.com" target="_blank">Soldiarity of Unbridled Labour</a> – find us at: <br><br> 47 Maple Street #319 <br> Burlington, Vermont 05401 <br><br> 802-448-0189<br> hello@alder.studio</p>
    </div>
    

</div>


<div class="row white-row padded-row top-xs start-xs between-xs">
    <div class="col-xs-12 col-sm-3">
        <ul class="helvetica bold">Art</ul>
        <li>Richard Erdman Studios</li>
        <li>Champlain College Gallery</li>
        <li>Erika Senft Miller</li>
        <li>Overnight Projects</li>
    </div>
    <div class="col-xs-12 col-sm-3">
        <ul class="helvetica bold">Environment</ul>
        <li>Vermont Council on Rural Development</li>
        <li>Vermont Energy Investment Corp.</li>
        <li>Burlington Electric</li>
        <li>Vermont Gas</li>
        <li>Green Mountain Power</li>

    </div>
    <div class="col-xs-12 col-sm-3">
        <ul class="helvetica bold list">Culture</ul>
        <li>Vermont Public Radio</li>
        <li>Moran Plant</li>
        <li>The Karma Bird House</li>
        <li>Signal Kitchen</li>
        <li>Higher Ground</li>
        <li>Silo Distillery</li>
        <li>Starbird Fish</li>
    </div>
</div>