--- 
layout: default-night 
title: studio 
--- 

{% include navigation-night.html %}

<div class="row start-xs top-xs quarter-row">
    <div class="col-sm-8 col-xs-12">
        <div class="headline-night">A multi-disciplinary graphic design studio connecting art, enviroment, culutre and technology.</div>
    </div>
    <div class="col-sm-3 col-sm-offset-1 col-xs-12">
        <p>We generalise in identity, strategy, print and digital production, copywriting, media, research, curation, creative direction and illustration.</p>
    </div>
</div>

<div class="row half-row top-xs between-xs">
    
    <div class="col-sm-6 col-xs-12">
        <p>Alder is the studio of <a href="http://jasmineparsia.com" target="_blank">Jasmine Parsia</a> & <a href="http://cr-norris.com" target="_blank">Chris Norris</a>. Often joined by other makers and thinkers, we generalize in graphic design, creative direction, production, and digital design.</p>

        <p>Our ability to make things is as important as our ability to make things happen. What we do takes many forms but every project is based on our desire to help shape the ideas that are bettering the world, because we exist for a simple reason: to work toward a future that is healthier and more vibrant than the one we live in now.</p>
    
    </div>

    <div class="image col-xs-12 col-sm-5">
        <img src="/assets/images/black-mountain.jpg">
    </div>
    
</div>
<div class="row start-xs half-row top-xs">

    <div class="col-sm-8 col-xs-12">
        <h3>Interested in working with us?<br> Reach out at hello@alder.studio</h3>
        {% include form-contact-night.html %} 
    </div>


    <div class="col-sm-3 col-sm-offset-1 col-xs-12">
             <p>Our studio is at the Karma Bird House, a creative compound we run with our friends at Soldiarity of Unbridled Labour – find us at: <br><br> 47 Maple Street, #319 <br> Burlington Vermont 05401 <br> 802-448-0189</p>
    </div>

</div>
<div class="row start-xs half-row top-xs">
    <div class="col-xs-12">Clients.</div>
</div>