---
layout: video
title: Home
video-mp4: /assets/video.mp4
video-webm: /assets/video.webm
---
<div class="row full-row center-xs">
    <a class="col-xs-12" target="_blank" href="https://www.are.na/christopher-norris-1507041170/alderworld">
        <img class="logo-center" src="/assets/images/logo/white.svg">
    </a>
    <div id="splash-footer" class="row col-xs-12 between-xs">
      <p>©2022</p>
        <i id="mobile-nav-trigger" class="nav-trigger close end-xs fas fa-2x fa-plus"></i>
        <ul class="nav-links">
            {% for node in site.pages %} {% unless node.exclude %} {% if page.url == node.url %}
            <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
            {% else %}
            <li class="active"><a href="{{node.url}}">{{node.title}}</a></li>
            {% endif %} {% endunless %} {% endfor %}
        </ul>
    </div>
</div>
