<div class="row col-xs-12 bottom-xs between-xs">
    <a href="{{ site.baseurl }}" class="helvetica">©Alder 2018</a>
    <a href="/projects">Projects</a>
    <a href="/stories">Stories</a>
    <a href="/studio">Studio</a>
</div>
<script src="{{ site.baseurl }}assets/scripts/scripts.js" type="text/javascript"></script>

<script>
// cursor

$(window).load(function() {
    $('body').awesomeCursor('circle', {
        color: '#E85133',
        hotspot: 'center',
        size: 55
    });
});
</script>

<script src="/assets/scripts/jquery.awesome-cursor.min.js" type="text/javascript"></script>
<script src="{{ site.baseurl }}assets/scripts/unslider.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.9/jquery.lazy.min.js"></script>