<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ site.title }}</title>
    
<meta name="description" content="{{ site.description }}">
    
<link rel="icon" href="{{ site.baseurl }}assets/images/favicon.png" sizes="16x16" type="image/png">

<meta property="og:title" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:url" content="http://alder.world">

<link rel="stylesheet" href="{{ site.baseurl }}assets/css/site.css" type="text/css">
    
<link rel="stylesheet" href="{{ site.baseurl }}assets/css/flexboxgrid.css" type="text/css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    
<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
    
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-oi8o31xSQq8S0RpBcb4FaLB8LJi9AT8oIdmS1QldR8Ui7KUQjNAnDlJjp55Ba8FG" crossorigin="anonymous">
    
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-77575154-2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-77575154-2');
</script>

</head>