<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
<title>{{ site.title }}</title> 
<meta name="description" content="{{ site.description }}">   
<link rel="icon" href="{{ site.baseurl }}assets/images/favicon.png" sizes="16x16" type="image/png">

<!---Social--->     
    
<meta property="og:title" content="{{ site.description }}">
<meta property="og:description" content="{{ site.description }}">  
<meta property="og:url" content="http://alder.world">
    
<!---Styles--->     
    
<link rel="stylesheet" href="{{ site.baseurl }}assets/css/site.css" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl }}assets/css/flexboxgrid.css" type="text/css">
<link rel="stylesheet" href="{{ site.baseurl }}assets/css/unslider.css" type="text/css">

<!---Fonts--->   
    
<link href="https://fonts.googleapis.com/css?family=Anonymous+Pro" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}assets/css/fontawesome.css" type="text/css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-87DrmpqHRiY8hPLIr7ByqhPIywuSsjuQAfMXAE0sMUpY3BM7nXjf+mLIUSvhDArs" crossorigin="anonymous">    

<!---Analytics--->     
    
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-77575154-2"></script>
    
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-77575154-2');
</script>

<!---JQuery--->      
    
<script src="https://code.jquery.com/jquery-latest.min.js"></script>   
    
</head>