<div class="outside">
    <div class="inside">

        <div class="row full-row nav-trigger close">
            <div class="col-xs-12 col-sm-5">                
                <p>Alder is the interdisciplinary studio of Jasmine Parsia & Chris Norris. Often joined by other makers and thinkers, we generalize in graphic design, creative direction, production, and digital design. We're located in Burlington, Vermont.</p>
                <p>Our ability to make things is as important as our ability to make things happen. We favor conversation over comments—love over likes. We feel a strong responsibility to help shape the ideas that are bettering the world because we exist for a simple reason: to fight for a future that is healthier and more vibrant than the one we live in now— environmentally, socially, economically, and creatively.</p>
                <hr>
                <p>We're currently doing some spring cleaning and will be back online shortly. We’re still available for commissions and collaborations, so say hello and/or <a href="{{ site.baseurl }}contact/"> send jokes.</a></p>
                <div class="social-icon navigation-popup-social-icons">
                    <a target="_blank" href="https://www.are.na/christopher-norris-1507041170/alderworld"><img class="arena-icon" src="/assets/images/arena.svg"></a>
                </div>
            </div>
        </div>
    </div>
</div>