<div class="outside">
    <div class="inside">

        <div class="row full-row">
            <div class="col-xs-12 col-sm-5">
                <p>Alder is the studio of Jasmine Parsia and Chris Norris. We are a multidisciplenary design duo generalizing in graphic design, creative direction, production, and digital design. We're based in Burlington, Vermont.</p>
                <p>Our ability to make things is as important as our ability to make things happen. We favor conversation over comments—love over likes. We care about our Vermont community. We care about other communities, too. We care about ourselves. We care about each other. We care about you. We feel a strong responsibility to help shape the ideas that are bettering the world because we exist for a simple reason: to fight for a future that is healthier and more vibrant than the one we live in now— environmentally, socially, economically, and creatively.</p>

                <p>Does this sound about right? <a href="{{ site.baseurl }}contact/">Let's start a conversation.</a></p>
                
                <div class="social-icon navigation-popup-social-icons">
                    <a target="_blank" href="https://www.are.na/christopher-norris-1507041170/alderworld"><img class="social-icon" src="/assets/images/arena.svg"></a>
                </div>
                <div class="nav-trigger close">
                    <h1 class=" col-xs-12 bar">✕</h1>
                </div>
            </div>
        </div>
    </div>
</div>