*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
    line-height: 1.5em;
    color: black;
}

#container {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
}

::selection {
    background: #E85133;
    opacity: 1;
}

::-moz-selection {
    background: #E85133;
}

img {
    width: 100%;
    padding: 1em 0;
}


footer {
    background-color: #E85133;
    width: 100% !important;
    color: white;
    font-size: .9em;
    position: absolute;
    bottom: 0px;
    align-items: center;
    height: 5vh;
    display: flex;
    border-top: 1px solid white;
}

footer a {
    color: white;
}

footer a:first-child {
    text-align: left;
}

footer a:nth-child(2) {
    text-align: center;
}

footer a:last-child {
    text-align: right;
}


@media only screen and (max-width: 48em) {
    footer a:nth-child(2) {
        display: none;
    }
    
    footer a:nth-child(3) {
        display: none;
    }    
}

a {
    text-decoration: none;
    color: #E85133;
    padding-bottom: .25em;
}

a:hover {
    cursor: pointer;
}

hr {
    margin: 2em 0;
    opacity: .5;
}

.wrapper {
    margin: 0 auto;
    padding: 1.5vh 0 5vh 0;
}

.night {
    background-color: black;
    color: white;
}

.day {
    color: black;
}


.row-inner {
    max-width: 1440px;
}

.full-row {
    min-height: 90vh;
}

.padded-row {
    padding: 5vh 0;
}

.white-row {
    background-color: white;
    color: black !important;
}

.grey-row {
    background-color: whitesmoke;
    color: black !important;
}

.quarter-row {
    min-height: 25vh;
    z-index: 1;
}

@media (max-width: 767px) {
    .quarter-row,
    .half-row,
    .full-row {
        border-bottom: 1px solid white;
        border-top: 1px solid white;
    }
}


.banner {
    min-height: 50vh;
}

/* Typography */

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    line-height: 1em;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    line-height: 1.4em;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    line-height: 1.4em;
    font-weight: bold;
}

.helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: .02em;
}

.bold {
    font-weight: 900;
}

.meta {
    color: dimgrey;
}

.meta a {
    color: white;
}

.headline-night {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    line-height: 1em;
    font-weight: 800;
    color: white;
    display: block;
}

.headline-day {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 3em;
    line-height: 1em;
    font-weight: 800;
    color: black;
    display: block;
}

.image-caption {
    text-align: right;
    float: right;
    font-size: .8em;
    line-height: 1.5em;
    width: 75%;
    opacity: .3;
}



/* Landing */

.logo-left {
    max-width: 120px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.logo-left:hover {
    cursor: pointer;
}

.logo-center {
    z-index: 1;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.logo-center:hover {
    cursor: pointer;
    transform: scale(1.05);
}

@keyframes logo-center {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(2.0);
        -webkit-transform: scale(2.0);
    }
}

/* Navigation */

.popupnav-links {
}

.popupnav-link {
    display: block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 6em;
    line-height: .9em;
    font-weight: 900;
    letter-spacing: -.025em;
    color: white;
}

.popupnav-link:hover {
    text-decoration: none;
    -moz-text-fill-color: #E85133;
    -webkit-text-fill-color: #E85133;
    -moz-text-stroke-color: white;
    -webkit-text-stroke-color: white;
    -moz-text-stroke-width: 1px;
    -webkit-text-stroke-width: 1px;
}

.navigation {
    height: 5vh z-index: 5;
}

.navigation-fixed {
    padding: 1em 0;
    position: fixed;
}

.nav-trigger {
    background-color: transparent;
    border: 0;
    z-index: 100;
}

.nav-trigger:hover {
    cursor: pointer;
}

.nav-links {
    text-align: right;
}

.nav-links-item:hover {
    color: #E85133;
}

.nav-links-item {
    margin-right: 1em;
    color: black;
}

.nav-links-item:last-child {
    margin-right: 0em !important;
}

.bar {
    display: none;
}

/* Menu */

.outside {
    min-width: 100%;
    height: 100%;
    position: fixed;
    -ms-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    overflow: hidden;
}

.in {
    -ms-transform: translateX(0%));
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    z-index: 999;
}

.inside {
    overflow: scroll;
    height: 100%;
    background: #E85133;
    -webkit-transition: all .1s ;
    transition: all .1s; 
    -webkit-transition-delay: .1s transition-delay: .1s;
}

.in .inside {
    border-radius: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.row.full-row.nav-trigger.close.is-showing {
    -webkit-transition: all .5s;
    transition: all .5s;
}


/* Menu */

.menu {
    padding: 2em;
}

ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    line-height: 2;
}

li {
    list-style-type: none;
}

/* Forms */

form {
    width: 100%;
}

label {
    color: white;
}

input,
textarea {
    outline: none;
    background-color: transparent;
    color: white;
    resize: none;
    padding: 1em 0;
    border: 0px;
    font-family: 'Anonymous Pro', monospace;
}

p#warningName,
p#warningEmail,
p#warningComment {
    color: red;
}

input[type=text],
input[type=email],
textarea {
    border: 0px;
    border-bottom: 2px solid white;
    width: 100%;
    font-size: 1em;
    line-height: 1.5em;
    box-sizing: border-box;
    background-color: transparent;
    outline: none !important;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}

textarea[name=message] {
    margin: 2em 0;
    border: 2px solid white;
    min-height: 20vh;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    float: left;
}

.btn {
    border: none;
    color: white;
    background-color: transparent;
    padding: 0;
}

.btn:hover {
    color: #E85133;
    cursor: pointer;
}


.upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

button[type=submit] {
    float: left;
    border: 2px solid white;
    border-radius: none;
    padding: 1em;
    font-size: 1em;
    background-color: transparent;
    color: white;
}


button:hover {
    color: #E85133;
    border: 2px solid #E85133;
    cursor: pointer;
}

input:focus {
    border-bottom: 2px solid #E85133;
}


input[type=submit]:focus {
    border: 2px solid #E85133;
}

:focus {
    outline: 0 !important;
}

:hover {
    -webkit-transition: all .02s ease-in-out;
    transition: all .02s ease-in-out;
}

::-webkit-input-placeholder {
    color: #d4d4d4;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #d4d4d4;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #d4d4d4;
}

:-ms-input-placeholder {
    color: #d4d4d4;
}

input:-webkit-autofill {}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent !important;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

button[type=submit]:focus,
textarea:focus {
    border: 2px solid #E85133;
}

/* background video */

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.halfscreen-bg {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 150%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.halfscreen-bg__video {
    position: absolute;
    z-index: -1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('/assets/images/mobile-fallback.png') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

/* Background Color */

.outline {
    border: 2px solid white;
    padding: 1em;
}

/* Social Icons */

.menu-icon {
    width: 30px;
}
.menu-icon-close {
    width: 30px;
}

.navigation-popup-social-icons {
    margin-top: 3em;
}

.social-links {
    margin: 2em 0;
}

/* Posts */

.project {
    display: flex;
    width: 100%;
    border-bottom: 1px solid black;
    padding: 1em 0;
    color: black;
    background-color: transparent;
}

.project:hover {
    color: #E85133;
    text-decoration: none;
}

.project:first-child {
    border-top: 1px solid black;
}

.project-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 2em;
    font-weight: 600;
}

.stories {
    margin-bottom: 2em;
}

.story {
    color: black;
    background-color: transparent;
}

.story:hover {
    color: #E85133;
    text-decoration: none;
}

.story-title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1em;
    line-height: 2em;
    font-weight: 600;
}


.article-image {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}


.hide {
    display: none;
}