*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Anonymous Pro', monospace;
    line-height: 1.5em;
    color: black;
}

::selection {
    background: #E85133;
}

::-moz-selection {
    background: #E85133;
}

img {
    width: 100%;
}

footer {
    width: 100% !important;
    color: white;
    font-size: .9em;
    position: absolute;
    bottom: 10px;
    width: 50%;
    margin-top: 3em;
}

footer a {
    color: white;
}

footer a:first-child {
    text-align: left;
}

footer a:nth-child(2) {
    text-align: center;
}

footer a:last-child {
    text-align: right;
}

footer a:hover {
    color: #E85133;
}

@media only screen and (max-width: 48em) {
    footer a:first-child {
        display: none;
    }

    footer a:last-child {
        display: none;
    }
}

a {
    text-decoration: none;
    color: #E85133;
    padding-bottom: .25em;
}

a:hover {
    cursor: pointer;
    color: black;
}

hr {
    margin: 2em 0;
    opacity: .5;
}

.wrapper {
    margin: 0 auto;
}

.night {
    background-color: black;
}

.day {
    background-color: white;
}

.full-row {
    min-height: 100vh;
}

/* Typography */

.headline-night {
    font-size: 1.8em;
    line-height: 1.2em;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4em;
    line-height: 1.4em;
}

.helvetica {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: .02em;
}

/* Landing */

.logo-left {
    max-width: 120px;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.logo-left:hover {
    cursor: pointer;
}

.logo-center {
    z-index: 1;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

.logo-center:hover {
    cursor: pointer;
    transform: scale(1.05);
}

@keyframes logo-center {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
    100% {
        transform: scale(2.0);
        -webkit-transform: scale(2.0);
    }
}

/* Navigation */

.navigation {
    position: fixed;
    padding: 2em;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: ;
}

.navigation-simple {
    padding: 1em 0;
    position: fixed;
}

.nav-trigger {
    background-color: transparent;
    border: 0;
}

.nav-trigger:hover {
    cursor: pointer;
}

.nav-links {
    text-align: right;
}

.nav-links-item:hover {
    color: #E85133;
}

.nav-links-item {
    margin-right: 1em;
    color: black;
}


.nav-links-item:last-child {
    margin-right: 0em !important;
}


.bar {
    display: none;
}

/* Menu */

.outside {
    min-width: 100%;
    height: 100%;
    position: fixed;
    -ms-transform: translateY(100%);    
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: all .5s;
    transition: all .5s;
    overflow: hidden;
}

.in {
    -ms-transform: translateX(0);    
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: 0;
    transition: 0;
    z-index: 999;
}

.inside {
    overflow: scroll;
    height: 100%;
    background: white;
    -webkit-transition: all .1s transition: all .1s -webkit-transition-delay: .1s transition-delay: .1s
}

.in .inside {
    border-radius: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.row.full-row.nav-trigger.close.is-showing {
    -webkit-transition: all .5s;
    transition: all .5s;
}


/* Menu */

.menu {
    padding: 2em;
}

ul {
    list-style: none;
    padding: 0;
    line-height: 2;
}


/* Forms */

label {
    color: white;

}

input,
textarea {
    outline: none;
    background-color: transparent;
    color: white;
    resize: none;
}

p#warningName,
p#warningEmail,
p#warningComment {
    color: red;
}

textarea[name=message] {
    border: 2px solid white;
    margin-top: 1em;
    min-height: 30vh;
    padding: 1em;
}

input[type=text],
input[type=email],
textarea {
    border: 0px;
    border-bottom: 2px solid white;
    width: 100%;
    height: 2em;
    margin: 4px 0;
    font-size: 1em;
    box-sizing: border-box;
    background-color: transparent;
    outline: none !important;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;

}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    float: left;
}

.btn {
    border: none;
    color: white;
    background-color: transparent;
    padding: 0;
}

.btn:hover {
    color: #E85133;
    cursor: pointer;
}


.upload-btn-wrapper input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

button[type=submit] {
    float: right;
    border: none;
    border-radius: none;
    padding: 0;
    font-size: 1em;
    background-color: transparent;
    color: white;
}


button:hover {
    color: #E85133;
    cursor: pointer;
}

input:focus {
    border: 0;
    border-bottom: 2px solid #E85133;
}

textarea:focus {
    border: 2px solid #E85133;
}

input[type=submit]:focus {
    border: none;
}

:focus {
    outline: 0 !important;
}

:hover {
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
}

::-webkit-input-placeholder {
    color: #d4d4d4;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #d4d4d4;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #d4d4d4;
}

:-ms-input-placeholder {
    color: #d4d4d4;
}

input:-webkit-autofill {}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    background-color: transparent !important;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px #000 inset;
    transition: background-color 5000s ease-in-out 0s;
}

button[type=submit]:focus,
textarea:focus {
    border-bottom: 2px solid #E85133;
}

/* background video */

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 150%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url('/assets/images/mobile-fallback.png') center center / cover no-repeat;
    }

    .fullscreen-bg__video {
        display: none;
    }
}

/* Social Icons */

.arena-icon {
    width: 30px;
}

.arena-icon:hover {
    content: url('/assets/images/arena-orange.svg');
}

.navigation-popup-social-icons {
    margin-top: 3em;
}