nav.unslider-nav {
    position: absolute;
    margin: 45vh auto 0;
    left: 0;
    padding: 1.1em;
}

.more-info {
    position: absolute;
    margin: 45vh auto 0;
    font-size: 1.2em;
    padding: 1em;
    right: 0;
    color: #E85133;
}

.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: .85em;
  height: .85em;
  margin: 0 .25em;
  background: transparent;
  border-radius: 2em;
  overflow: hidden;
  text-indent: -999em;
  background: #E1E1E1;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #E85133;
  cursor: default;
}
