nav.unslider-nav {
    position: absolute;
    margin: 46vh auto 0;
    left: 0;
    padding: 1em;
    z-index: 99;
    cursor: crosshair;
}

.more-info {
    position: absolute;
    margin: 46vh auto 0;
    font-size: 1.4em;
    padding: 1em;
    right: 0;
    color: #E85133;
    z-index: 99;
}

.unslider-nav ol {
  list-style: none;
  text-align: center;
}

.unslider-nav ol li {
  display: inline-block;
  width: .85em;
  height: .85em;
  margin: 0 .25em;
  background: transparent;
  border-radius: 2em;
  border-color: transparent;
  overflow: hidden;
  text-indent: -999em;
  background: rgba(0,0,0,0.10);
}

.unslider-nav ol li.unslider-active {
  background: #E85133;
  cursor: crosshair;    
}
