--- 
layout: default
---
    <div id="preloader">
        <div id="status"></div>
    </div>

{% include navigation-story.html %}

<div class="wrapper day">

    <div class="row slider">
        <div class="story-slider unslider">
            {{ content }}
        </div>
        <a href="#meta" class="more-info"><i class="fa fa-chevron-down"></i></a>
    </div>

    <a name="meta" class="row middle-xs start-xs story-meta">
        <div class="row top-xs">
            <div class="col-xs-12"><span class="helvetica"><p>About</p></span>
            </div>
            <div class="row start-xs col-xs-12 col-sm-6">
                {{ page.about }}
            </div>
            <ul class="col-xs-12 col-sm-5 col-sm-offset-1">
                <li><span class="orange">Year:</span> {{ page.year }}</p>
                <li><span class="orange">Client:</span> {{ page.client }}</p>
                <li><span class="orange">Services:</span> {{ page.categories | join:', ' }}</p>
            </ul>
        </div>
    </a>
    <a class="row back-row middle-xs col-xs-12" href="/stories/">
        <i class="fa fa-eye"></i><p class="back-label helvetica">More Stories</p>
    </a>
</div>

<script>
    $(document).ready(function() {
        $('.story-slider').unslider({
            nav: true,
            infinite: true,
            autoplay: false,
            speed: 1000,
            delay: 15000,
            dots: true, //  Display dot navigation
            fluid: true //  Support responsive design. May break non-responsive designs
        });
    });
</script>